/* *********************************** */


/* *** ESTILOS GENERALES *** */


/* *********************************** */


/* CARGAR FUENTES */

@font-face {
    font-family: "Roboto Normal";
    src: url("font/roboto-medium-webfont.woff2") format("woof2"), url("font/roboto-medium-webfont.woff") format("woof"), url("font/Roboto-Medium.ttf") format("ttf");
    font-family: "Roboto Italic";
    src: url("font/roboto-italic-webfont.woff2") format("woof2"), url("font/roboto-medium-webfont.woff") format("woof"), url("font/Roboto-Italic.ttf") format("ttf");
}